<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommonMapper">
    <sql id="pageLimit">
        <if test="start != null">
            limit ${start},${rows}
        </if>
    </sql>
    
    <sql id="sortSql">
        <if test="sortItemMap != null">
            ORDER  BY
            <foreach item="k" collection="sortItemMap.keySet()" open="" separator="," close="">
                ${k} ${sortItemMap[k]}
            </foreach>
        </if>
    </sql>
</mapper>