<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junlong.zkguard.dao.ZkClusterInfoDao">
    <insert id="saveClusterInfo" parameterType="ZkClusterInfo">
      INSERT INTO clusterInfo(clusterId,clusterName,description) VALUES (#{clusterId},#{clusterName},#{description})
    </insert>
</mapper>